<div class="register">
  <h1></h1>
  <h2></h2>
  <form class="register" ng-submit="vm.saveTask()">
    <label>
      <input class="" type="text" ng-model="vm.task.name" placeholder="name">
    </label>
    <label>
      <input class="" type="text" ng-model="vm.task.email" placeholder="email">
    </label>
    <label>
      <input class="" type="text" ng-model="vm.task.password" placeholder="password">
    </label>
    <label>
      <input class="" type="text" ng-model="vm.task.password_verification" placeholder="repeat password">
    </label>
    <button class="" ng-click="vm.goToTasks()">Create your account</button>
  </form>
</div>
