//cream
$bg-color: #ffe6b8;
//not sure
$fg-color: #444;
// $input-border-color: #DDD;
// $alt-bg-color: #F4F4F4;

// light green
$light-color: #bcc987;
// $alt-bold-color: #4F9EE5;

//dark orange
$accent-color: #d45c37;

//light orange
$accent-color-light: #ffad61;

// $alt-accent-bg: #54CC14;
// $alt-accent-fg: white;
// $alt-accent-bg-dark: #44B209;

// dark green 5c734f
//dark gray 594c44
