<h1>{{vm.title}}</h1>

<form class="task-form" ng-submit="vm.saveTask()">
 <div class="new-task-container">
     <input class="new-task-title" type="text" ng-model="vm.task.title" placeholder="title of task">
      <div class="textarea-container">
        <textarea class="new-task-desc" maxlength="200" ng-model="vm.task.description" placeholder="describe your new task to help you set any details"></textarea>
        <div class="new-task-text-count">{{200 - vm.task.description.length}} characters remaining</div>
     </div>
     <select ng-model="vm.task.status">
       <option value="" disabled selected>Select</option>
       <option >TODO</option>
       <option>DOING</option>
       <option>DONE</option>
     </select>

     <input ng-model="vm.task.date" placeholder="mm/dd/yyyy">
  </div>
  <button>{{vm.saveText}}</button>
  <button ng-click="vm.goToTasks()">Cancel</button>
</form>
