<h1>New Task</h1>

<form class="task-form" ng-submit="vm.addTask()">
 <div clas="new-task-container">
   <h1 class="greeting-user-header">hello, Ethel!</h1>
     <h3>here are your tasks</h3>
     <input class="new-task-title" type="text" ng-model="vm.tasks.url" placeholder="title of task">
      <div class="textarea-container">
        <textarea class="new-task-desc" maxlength="200" ng-model="vm.tasks.description" ng-trim="false" placeholder="describe your new task to help you set any details"></textarea>
      <div class="new-task-text-count">{{200 - vm.task.description.length}}/200</div>
     </div>
<input>
</form>
